{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
                <a class="navbar-brand page-scroll" href="#page-top">{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ if and .Site.Params.features .Site.Params.navigation.links.features }}
                    <li>
                        <a class="page-scroll" href="#features">{{ .Site.Params.navigation.links.features }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.getflatpak .Site.Params.navigation.links.getflatpak }}
                    <li>
                        <a class="page-scroll" href="#getflatpak">{{ .Site.Params.navigation.links.getflatpak }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.applications .Site.Params.navigation.links.applications }}
                    <li>
                        <a class="page-scroll" href="flatpak.org/apps.html">{{ .Site.Params.navigation.links.applications }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.helloworld .Site.Params.navigation.links.helloworld }}
                    <li>
                        <a class="page-scroll" href="flatpak.crg/hello-world.html">{{ .Site.Params.navigation.links.helloworld }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.faq .Site.Params.navigation.links.faq }}
                    <li>
                        <a class="page-scroll" href="flatpak.org/faq.html">{{ .Site.Params.navigation.links.faq }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.aboutnco .Site.Params.navigation.links.aboutnco }}
                    <li>
                        <a class="page-scroll" href="#about">{{ .Site.Params.navigation.links.aboutnco }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
